.ui.interactive {
  box-sizing: border-box;
  overflow: hidden;
  display: block;

  width: 100%;
  height: var(--ui-size-block);
  min-width: var(--ui-size-block);
  min-height: var(--ui-size-block);

  padding-left: var(--ui-padding);
  padding-right: var(--ui-padding);

  vertical-align: top;

  outline: none;
  border: var(--ui-size-border) solid var(--color-ui-border);
}

.icon {
  display: inline;
  vertical-align: middle;
}

/*.ui.interactive:hover {*/
/*  !*outline: var(--color-ui-dark) solid 2px;*!*/
/*  border-color: var(--color-ui-dark);*/
/*}*/

/*.ui.interactive:active {*/
/*  border-color: var(--color-ui-primary);*/
/*}*/

/* BUTTON TYPE */

/* INPUT TYPE */
